---
const {
  url,
  title,
  description,
  author,
  pubDate,
  customClass,
} = Astro.props;
---


  <a class={customClass} href={`${url}`}
    >{`${title}`}
    <p class={customClass}>
      {description}
    </p>
  </a>


<style>
  .article-box {
    border: 1px solid white;
    border-radius: 10px;
    padding: 1rem 2rem;
    font-size: 1.5rem;
  }

  .article-box:hover {
    border: 1px dashed white;
  }

  .article-box > p {
    font-size: 1rem;
    margin-top: 1.25rem;
  }

  .blog-list-title {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  .blog-list-title > p {
    font-size: 1.25rem;
    margin-bottom: 2rem;
  }
</style>
